<ng-form [formGroup]="inputForm" (ngSubmit)="submit()">
  <label>
    Математическое ожидание:
    <input formControlName="me" type="text">
  </label>
  <label>
    Дисперсия:
    <input formControlName="dp" type="text">
  </label>
  <label>
    Колличество N:
    <input formControlName="nn" type="text">
  </label>
  <br>
  <label>
    Предполгаемое мат. ожидание
    <input formControlName="pm" type="text">
  </label>
  <label>
    Предполгаемое дисперсия
    <input formControlName="pd" type="text">
  </label>
  <button (click)="submit()" type="submit">Submit</button>
</ng-form>
<div [innerHTML]="numbrs"></div>
<div>Графики: </div>
<google-chart #chart
              [title]="title"
              [type]="type"
              [data]="hData"
              [options]="options"
              [width]="width"
              [height]="height">
</google-chart>
<google-chart #chart1
              [title]="title1"
              [type]="type1"
              [data]="hData1"
              [options]="options1"
              [width]="width1"
              [height]="height1">
</google-chart>
